*,*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root{
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);

	--vdark-blue: hsl(234, 12%, 34%);
	--grayish-blue: hsl(229, 6%, 66%);
	--vl-gray: hsl(0, 0%, 98%);
}

body{
	width: 23.4375rem;
	background-color: var(--vl-gray);
}

.opening{
	width: 19.5rem;
	margin: 3rem auto;
	height: 10rem;
}

#catchcopy{
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	color: var(--vdark-blue);
	font-weight: 200;
}

.card{
	width: 19.5rem;
	height: 15rem;
	box-shadow: 0px 10px 17px 4px var(--grayish-blue);
	margin: 1.5rem auto;
	border-radius: 5px;
	padding: 1.5rem;
}

.icon{
	height: 3rem;
	width: 3rem;
	position: relative;
	top: 2.5rem;
	left: 12rem;
}

img{
	height: 4rem;
	width: 4rem;
}

.regtext{
	font-size: 0.9rem;
	color: var(--grayish-blue);
	margin: 0.5rem 0;
	text-align: justify;
}

b{
	font-size: 1.5rem;
}

h4{
	font-size: 1.5rem;
}
