*,*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	background-color: var(--vl-gray);
}

:root{
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);

	--vdark-blue: hsl(234, 12%, 34%);
	--grayish-blue: hsl(229, 6%, 66%);
	--vl-gray: hsl(0, 0%, 98%);
}

body article{
	height: 100%;
	width: 100vw;
}

.opening {
	width: 19.5rem;
	margin: 2rem auto;
	height: 10rem;
}

#catchcopy{
	font-size: 1.5rem;
	color: var(--vdark-blue);
	font-weight: 200;
}

.card{
	width: 19.5rem;
	height: 14rem;
	box-shadow: 0px 10px 17px 4px var(--grayish-blue);
	margin: 1.5rem auto;
	border-radius: 5px;
	padding: 1.5rem;

	&:hover{
		cursor: pointer;
	}
}

.icon{
	height: 3rem;
	width: 3rem;
	position: relative;
	top: 1.5rem;
	left: 12rem;
}

img{
	height: 4rem;
	width: 4rem;
}

.regtext{
	font-size: 0.9rem;
	color: var(--grayish-blue);
	text-align: justify;
}

b{
	font-size: 1.5rem;
}

h4{
	font-size: 1.5rem;

	&:hover{
		color: gold;
	}
}


@media (min-width: 1000px) {
	.opening{
		width: 40vw;
		height: auto;
		margin: 2rem auto 0 auto;
		text-align: center;
	}
	
	.opening > .regtext{
		text-align: center;	
	}
	article {
		position: relative;
		margin: auto;
		height: 30%;
		width: 40%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			". a ."
			"b c d"
			;
	}

	#supervisor{
		grid-area: a;
	}

	#teambuilder {
		grid-area: b;
		position: relative;
		bottom: 10rem;
		left: 6rem;
	}

	#calculator {
		grid-area: c;
		position: relative;
		bottom: 1.5rem;
	}

	#karma {
		grid-area: d;
		position: relative;
		bottom: 10rem;
		right: 6rem;
	}
}
